:root {
    --mainGreen: #01983b;
    --extraFont: EuropeExt, Arial, sans-serif;
    
}

@font-face {
    font-family: "EuropeExt";
    src: url("../fonts/EuropeExt.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "EuropeExt";
    src: url("../fonts/EuropeExtBold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

/* header */
.header-wrapper {
    max-width: 1000px;
    width: 80%;
    margin: 0 auto 10px;
}

.slick-header {
    margin-bottom: 20px;
}

/* sideBar */
.articles-wrapper {
    width: 100%;
    height: auto;
    background-image: url(../image/articles/articles-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.articles-container {
    max-width: 1000px;
    width: 75%;
    min-height: fit-content;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 20px 40px;
    border: 2px solid #e6ecf4;
    background-color: #f2f5f7;
    box-shadow: 0 0 10px 4px #585858;
}

.articles-item-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.articles-item {
    margin: 0 auto;
    max-width: 450px;
    height: auto;
}

.articles-item__img {
    width: 100%;
    height: auto;
}

.articles__title {
    text-align: center;
    margin: 0;
    font-family: var(--extraFont);
    text-shadow: 2px 2px 3px #fff;
    color: #043567;
}

.articles__title-link {
    text-decoration: none;
    font-weight: bold;
    color: #012284;
}

.articles__title-link:hover {
    text-decoration: underline;
}

.articles-container p::first-letter {
    font-size: 2rem;
    color: var(--mainGreen);
}
/* hidden sticky sidebar */
.js-sidebar {
    max-width: 200px;
    padding: 10px;
    margin: 0 0 40px;
    text-align: center;
    border: 2px solid #e6ecf4;
    background-color: #f2f5f7;
    box-shadow: 0 0 10px 4px #585858;
    position: fixed;
    right: 11%;
    top: 30%;
    opacity: 0;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    pointer-events: none;
}

.js-sidebar__link {
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    color: #012284;
}

.js-sidebar__link:hover {
    text-decoration: underline;
}

.js-sidebar--shown {
    opacity: 1;
    pointer-events: auto;
}