:root {
    --mainGreen: #01983b;
    --extraFont: EuropeExt, Arial, sans-serif;
    
}

@font-face {
    font-family: "EuropeExt";
    src: url("../fonts/EuropeExt.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "EuropeExt";
    src: url("../fonts/EuropeExtBold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "Arial", sans-serif;
}
/* header */
.header {
    margin-bottom: 155px;
    position: relative;
}
/* contacts */
.contacts {
    margin: 0 auto;
    position: inherit;
    top: -17px;
    left: 0;
}
/* phone-call */ 
.contacts__phone-call {
    position: absolute;
    left: 90px;
    top: 50px;
}

.contacts__phone-call p {
    font-family: var(--extraFont);
    font-weight: bold;
}

.contacts__phone-icon {
    width: 75px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
    animation: phoneLight 3s ease-in-out;
    animation-iteration-count: infinite;
    -moz-animation: phoneLight 3s ease-in-out;
    -moz-animation-iteration-count: infinite;
    -webkit-animation: phoneLight 3s ease-in-out;
    -webkit-animation-iteration-count: infinite;
}

@keyframes phoneLight {
    0% {
        box-shadow: 0 0 0 #fff;
    }
    50% {
        box-shadow: 0 0 50px #fff;
    }
}
/* email button */
.email-btn {
    width: 300px;
    height: 100px;
    border: 2px solid #e6ecf4;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 15px;
    cursor: pointer;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.email-btn:hover {
    background-color: #00772d;
    border: 2px solid #e6ecf4;
    box-shadow: 5px 5px 3px #4c4c4c;
}

.email-btn:hover p {
    color: #f4e6e6;
}

.email-btn:hover img {
    transform: scale(1.03);
    transition: all .3s ease;
    -moz-transform: scale(1.03);
    -moz-transition: all .3s ease;
    -webkit-transform: scale(1.03);
    -webkit-transition: all .3s ease;
}

.email-btn__img {
    width: 90px;
    height: auto;
    padding: 5px;
}

.email-btn p {
    margin-top: 17px;
    font-family: var(--extraFont);
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}
/* email-form hidden aside */
.email-form {
    width: 600px;
    height: 500px;
    border: 2px solid #fff;
    border-radius: 20px;
    background-color: var(--mainGreen);
    position: absolute;
    top: 55px;
    right: -140px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 5px 10px 5px #3c3c3c;
    transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    opacity: 0;
    pointer-events: none;
}

.email-form__close-icon {
    margin-left: auto;
    color: var(--mainGreen);
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 18px;
    width: 32px;
    height: 32px;
    text-align: center;
    cursor: pointer;
    position: relative;
    top: -15px;
    left: 260px;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
}

.email-form__fieldset {
    padding: 20px;
    width: 500px;
    height: 400px;
    border: 2px solid #fff;
    border-radius: 20px;
    font-family: var(--extraFont);
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

.email-form__legend {
    font-size: 20px;
}

.email-form__name-label {
    margin-left: -38px;
}

.email-form__name,
.email-form__email {
    width: 500px;
    background-color: #d5dfec;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #4c4c4c;
    margin-bottom: 10px;
    padding-right: 30px;
}

.email-form__textarea {
    width: 500px;
    height: 80px;
    resize: none;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #d5dfec;
    color: #4c4c4c;
    padding-right: 30px;
    margin-bottom: 20px;
}

.email-form__btn {
    width: 100%;
    height: 50px;
    background-color: #d5dfec;
    border: 1px solid #fff;
    border-radius: 10px;
    color: var(--mainGreen);
    font-family: var(--extraFont);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
}

.email-form__btn:hover {
    background-color: #b9c2d5;
    font-size: 20px;
}

.email-form__logo {
    width: 100%;
    height: auto;
}

.js-email-form--visible {
    left: 50%;
    top: 150%;
    transform: translate(-50%,-50%);
    opacity: 1;
    pointer-events: auto;
}

.email-form__name:focus,
.email-form__email:focus,
.email-form__textarea:focus {
    outline: none;
    background-color: #efefef;
    box-shadow: 0 0 10px #fff;
}

.email-form__email:valid,
.email-form__textarea:valid {
    background-image: url(../image/contacts/correct-icon.png);
    background-repeat: no-repeat;
    background-position: right;
}
/* map */
.map-container iframe {
    width: 100%;
    max-width: 1920px;
    height: 500px;
    margin: 0 auto;
    display: block;
    border: 0;
}
/* footer logo animation */
.footer__logo-img:hover {
    animation: movingLogo .5s ease-in forwards;
    -moz-animation: movingLogo .5s ease-in forwards;
    -webkit-animation: movingLogo .5s ease-in forwards;
}

@keyframes movingLogo {
    0% {
        transform: skewx(0deg);
    }

    50% {
        transform: skewx(30deg);
    }
}