@media screen and (max-width: 1600px) {
    /* ========== CONTACTS =========== */
    .contacts__phone-call {
        left: 20px;
    }
    .email-btn {
        width: 225px;
        right: 2px;
    }
}

@media screen and (max-width: 1440px) {
    /* ========== PRODUCTS =========== */
    .products__items-delivery-info p {
        font-size: 18px;
        line-height: normal;
    }
    /* ========== ARTICLES =========== */
    .js-sidebar {
        max-width: 170px;
        right: 1%;
    }
    /* ========== about =========== */
    .about-container {
        width: 95%;
    }
    /* ========== CONTACTS =========== */
    .contacts__phone-call {
        left: 6px;
        top: 73px;
    }
    .email-btn {
        top: 76px;
    }
}

@media screen and (max-width: 1280px) {
    /* Slick */
    .slick {
        width: 90%;
        margin: 0 auto;
    }
    .slick-content__shadow-position {
        left: -2%;
        width: 100%;
    }
    /*scope-of-application*/
    .scope-of-application-content {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    /* rombus images */
    .rhombus-images:nth-child(2n+1) {
        align-self: normal;
        margin-top: 0;
    }
    .rhombus-images-block {
        width: 100%;
        height: 520px;
        display: grid;
        grid-template-columns: 20% 20% 20%;
        align-items: baseline;
    }
    /* ========== PRODUCTS =========== */
    .products__items-delivery-info p {
        font-size: 16px;
    }
     /* ========== NEWS =========== */
    .news__item p {
        padding-right: 20px;
    }
    /* ========== ARTICLES =========== */
    .js-sidebar--shown {
        opacity: 0;
        pointer-events: none;
    }
    /* ========== CONTACTS =========== */
    .contacts__phone-call {
        top: 93px;
    }
    .contacts__phone-icon {
        width: 60px;
    }
    .contacts__phone-call p {
        font-size: 13px;
    }
    .email-btn {
        width: 218px;
        top: 78px;
    }
    .email-btn__img {
        width: 75px;
    }
}

@media screen and (max-width: 1080px) {
    /* header nav-bar */
    .header-nav {
        width: 80%;
        font-size: 14px;
    }
    /* slick-header */
    .slick-header {
        justify-content: space-evenly;
    }
    /* Slick */
    .slick {
        width: 85%;
    }
    /* ========== NEWS =========== */
    .cardigan {
        left: -60px;
    }
    .slick-header__contacts {
        padding-right: 10px;
    }
    .news__title {
        font-size: 17px;
    }
    /* ========== PRODUCTS =========== */
    .slick-container {
        min-height: 295px;
    }
    .products__items-img {
        max-width: 210px;
        height: 100px;
    }
    .products__items-delivery {
        font-size: 1.1rem;
    }
    /* ========== CONTACTS =========== */
    .contacts__phone-call {
        top: 119px;
    }
    .contacts__phone-icon {
        width: 35px;
    }
    .contacts__phone-call p {
        font-size: 10px;
    }
    .email-btn {
        width: 145px;
    }
    .email-btn__img {
        width: 55px;
    }
    .email-btn p {
        font-size: 10px;
    }
}


@media screen and (max-width: 992px) {
    /* slick-header */
    .slick-header__logo {
        width: 95%;
        padding: 10px;
    }
    /* video-title */
    .video__youtube-title {
        font-size: 1.7rem;
        letter-spacing: 0;
        text-align: center;
    }
    /*scope-of-application*/
    .left-scope-content__title p,
    .right-scope-content__title p {
        text-align: center;
        margin: 0 20px;
    }
    /* rombus images */
    .rhombus-images-block {
        grid-template-columns: 30% 30% 30%;
        justify-content: flex-end;
    }
    /* ========== NEWS =========== */
    .cardigan {
        left: 15px;
    }  
    .news {
        flex-direction: column;
    }
    .news__side-1, .news__side-2 {
        width: 90%;
        min-height: 480px;
    }
    /* ========== CONTACTS =========== */
    .contacts__phone-call {
        top: 138px;
    }
    .email-btn {
        width: 65px;
        height: 63px;
        top: 131px;
        right: 2px;
    }
    .email-btn p {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    /* header nav-bar */
    .header-nav {
        font-size: 13px;
        width: 97%;
    }
    /* slick-header */ 
    .slick-header {
        padding-left: 20px;
        width: 95%;
    }
    .slick-header__logo {
        width: 95%;
        padding: 10px;
    }
    .slick-header__contacts-wrapper {
        justify-content: center;
    }
    .slick-header__tel-search-link {
        font-size: .9em;
    }
    .slick-header__search-field {
        width: 85%;
        margin:0;
    }
    /* Slick */
    .slick {
        width: 80%;
    }
    .slick-content__text-title {
        font-size: 1.3rem;
    }
    .slick-content__text-subtitle {
        font-size: 1rem;
    }
    /* video-title */
    .video__logo {
        height: 60px;
    }
    .video__youtube-title {
        font-size: 1.4rem;
    }
    /* scope-of-application */
    .scope-of-application__title {
        font-size: 24px;
        height: 60px;
    }
    .left-scope-content__ul-li,
    .right-scope-content__ul-li {
        width: 65%;
    }
    .left-scope-content,
    .right-scope-content {
        background-position: bottom;
    }
    /* rombus images */
    .rhombus-images {
        width: 150px;
    }
    .rhombus-images-block {
        height: 480px;
        justify-content: flex-end;
    }  
    .rhombus-images__items {
        max-width: 145px;
        height: 145px;
    }
    .rhombus-images__img {
        width: 70%;
        height: auto;
    }
    .rhombus-images p {
        font-size: 12px;
    }
    /* table */
    .table-title {
        width: 100%;
        height: 80px;
    }
    .table-title__logo-img {
        max-width: 319px;
        width: 40%;
        height: auto;
        margin: 20px 0 5px;
    }
    .table-title p {
        font-size: 22px;
    }
    /* tasks */
    .tasks-container {
        margin-bottom: 10px;
    }
    .tasks-logo {
        height: 70px;
        font-size: 25px;
    }
    /* certificates */
    .certificates-title__img {
        max-width: 375px;
        height: auto;
        width: 40%;
    }
    .certificates-title p {
        font-size: 25px;
    }
    .js-certificates-content {
        height: fit-content;
        flex-wrap: wrap;
        gap: 10px;
    }
    .certificates-award p {
        font-size: 20px;
    }
    /* footer */
    .footer {
        min-height: 250px;
    }
    /* ========== NEWS =========== */
    .slick-header {
        display: flex;
        flex-direction: column;
    }
    .slick-header__contacts {
        align-self: center;
    }
    /* ========== PRODUCTS =========== */
    .products {
        grid-template-columns: repeat(2,40%);
    }
    .products__items-title {
        font-size: 18px;
    }
    .products__items p {
        font-size: 16px;
    }
    .products__items-delivery-info p {
        font-size: 14px;
    }
    /* ========== CONTACTS =========== */
    .contacts__phone-call {
        display: none;
    }

@media screen and (max-width: 650px) {
    .email-btn {
        width: 50px;
        height: 50px;
        top: 147px;
    }
    .email-btn__img {
        width: 40px;
    }
}

@media screen and (max-width: 600px) {
    /* header nav-bar */
    .header-nav {
        font-size: 12px;
        width: 95%;
    }
    /* slick-header */
    .slick-header {
        padding-left: 10px;
    }
    .slick-header__contacts-text {
        font-size: 12px;
    }
    .slick-header__tel-search {
        text-align: center;
    }
    .slick-header__search-field {
        width: 65%;
    }
    .slick-content__shadow-position {
        display: none;
    }
    /* video-title */
    .video__youtube-title {
        font-size: 1.2rem;
    }
    /* scope-of-application */
    .scope-of-application__title {
        font-size: 20px;
        height: 60px;
    }
    .left-scope-content__title p,
    .right-scope-content__title p {
        text-align: center;
        margin: 0 10px;
        font-size: 16px;
    }
    .left-scope-content__footer-logo-img,
    .right-scope-content__footer-logo-img {
        margin: 0 auto;
        height: auto;
        width: 60%;
    }
    /* rombus images */
    .rhombus-images-block {
        justify-content: center;
    }
    /* table */
    .table-container {
        min-height: 580px;
    }
    .table-block {
        min-height: 580px;
    }
    .table {
        min-height: 500px;
    }
    .table-title p {
        font-size: 18px;
    }
    .table-style tr:first-child td {
        font-size: 10px;
    }
    .table-style td {
        font-size: 10px;
        padding: 0;
    }
    .table__shadow-img {
        left: -10px;
        width: 100%;
    }
    /* tasks */
    .tasks-logo {
        height: 55px;
        font-size: 21px;
    }
    /* certificates */
    .certificates-title {
        height: 75px;
        margin-bottom: 10px;
    }
    .certificates-title p {
        font-size: 20px;
    }
    .certificates-award p {
        font-size: 17px;
    }
    /* contacts */
    .contacts p {
        padding: 0 10px 15px;
        font-size: 14px;
    }
    /* footer */
    .footer__logo {
        text-align: center;
    }
    .footer__logo-img {
        width: 75%;
    }
    /* ========== NEWS =========== */
    .cardigan {
        left: 0px;
    }
    /* ========== PRODUCTS =========== */
    .slick-container {
        min-height: 235px;
    }
    .slick {
        height: 130px;
    }
    .slick__item-img {
        width: 76px;
    }
    .slick__item p {
        width: 80px;
    }
    .products__items-delivery-info p {
        font-size: 14px;
    }
    /* ========== GALLERY =========== */
    .gallery__controls-btn {
        font-size: 12px;
    }
    .gallery-filter {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        padding: 0 50px;
    }
    /* ========== ARTICLES =========== */
    .articles-item-wrapper {
        display: block;
    }
    .articles__title {
        font-size: 21px;
    }
    /* ========== CONTACTS =========== */
    .js-email-form--visible {
        width: 500px;
    }
    .email-form__fieldset {
        width: 430px;
    }
    .email-form__close-icon {
        left: 220px;
    }
    .email-form__name, 
    .email-form__email {
        width: 400px;
    }
    .email-form__textarea {
        width: 400px;
    }
}

@media screen and (max-width: 500px) {
    /* header nav-bar */
    .header {
        height: fit-content;
    }
    .header-nav__menu {
        flex-direction: column;
        align-items: center;
        font-size: 16px;
    }
    .header-nav__menu-item {
        margin: 10px 0;
    }
    /* slick-header */
    .slick-block {
        height: auto;
        background: none;
    }
    .slick-header {
        flex-direction: column;
    }
    .slick-header__logo {
        width: 85%;
        padding-left: 30px;
    }
    .slick-header__contacts {
        align-self: auto;
    }
    .slick-header__tel-search-link {
        font-size: 1em;
    }
    .slick-header__search-field {
        width: 60%;
    }
    /* Slick */
    .slick {
        display: none;
    }
    /* youtube video */
    .video-container {
        min-height: 720px;
    }
    .video__youtube {
        height: 325px;
    }
    .video__logo {
        display: none;
    }
    .video__youtube-title {
        font-size: 1rem;
    }
    .video__youtube-iframe iframe {
        height: 230px;
    }
    /* rombus images */
    .rhombus-images-block {
        grid-template-columns: 30% 30% 30%;
        justify-content: center;
    }
    .rhombus-images-block {
        height: 455px;
    }
    .rhombus-images p {
        font-size: 11px;
    }
    .rhombus-images__items {
        max-width: 125px;
        height: 125px;
    }
    .rhombus-images__img {
        width: 60%;
    }
    /* tasks */
    .tasks-logo {
        font-size: 18px;
    }
    .tasks {
        font-size: 12px;
    }
    /* footer */
    .footer {
        min-height: 200px;
    }
    /* ========== NEWS =========== */
    .cardigan__text {
        font-size: 3rem;
    }
    .cardigan__img {
        width: 215px;
    }
    .news__title {
        font-size: 14px;
    }
    .news__item p b {
        font-size: 15px;
    }
    .news__item p {
        font-size: 14px;
    }
    /* ========== PRODUCTS =========== */
    .products {
        grid-template-columns: repeat(1,80%);
    }
    .products__items-delivery-info p {
        font-size: 20px;
    }
    /* ========== GALLERY =========== */
    .gallery__controls-btn {
        font-size: 11px;
    }
    /* ========== CONTACTS =========== */
    .header {
        margin-bottom: 0;
    }
    .email-btn {
        right: -55px;
    }
    .contacts {
        top: 0;
    }
    .js-email-form--visible {
        width: 420px;
    }
    .email-form__fieldset {
        width: 360px;
    }
    .email-form__close-icon {
        left: 175px;
    }
    .email-form__name, 
    .email-form__email {
        width: 340px;
    }
    .email-form__textarea {
        width: 340px;
    }
}

@media screen and (max-width: 440px) {
    /* slick-header */
    .slick-header__logo {
        width: 85%;
        padding-left: 15px;
    }
    .slick-header__tel-search-link {
        font-size: .75em;
    }
    /* video-title */
    .video__youtube-title {
        font-size: .85rem;
    }
    .video-text__button-btn {
        width: 100%;
    }
    .video-text__button {
        min-height: 100px;
    }
    /* scope-of-application */
    .scope-of-application__title {
        font-size: 18px;
        text-align: center;
        height: 65px;
    }
    .left-scope-content__ul,
    .right-scope-content__ul {
        font-size: 11px;
    }
    .left-scope-content__ul-li, .right-scope-content__ul-li {
        width: 50%;
    }
    /* rhombus images */
    .rhombus-images-block {
        height: 440px;
    }
    .rhombus-images-block {
        justify-content: center;
    }
    /* table */
    .table-title p {
        font-size: 16px;
    }
    .table-style tr:first-child td {
        font-size: 9px;
    }
    .table-style td {
        font-size: 8px;
    }
    /* tasks */
    .tasks {
        grid-template-columns: 0 auto auto 0;
    }
    .tasks__img-sad-smile {
        margin: 5px;
    }
    .tasks__img-smile {
        margin: 5px;
    }
    /* certificates */
    .certificates-title {
        height: 55px;
    }
    .certificates-title p {
        font-size: 15px;
    }
    /* contacts */
    .contacts__title {
        font-size: 23px;
        padding: 10px 0;
        margin: 0;
    }
    .contacts p {
        padding: 0 10px 10px;
        font-size: 14px;
    }
    .contacts__tel {
        font-size: 14px;
    }
    /* ========== PRODUCTS =========== */
    .products__items-delivery-info p {
        font-size: 18px;
    }
    /* ========== NEWS =========== */
    .news__item {
        display: block;
    }
    .news__item p {
        padding-right: 0;
    }
    .news__item--sign::after,
    .news__item--sign-2::after {
        width: 55px;
        height: 55px;
        top: 5px;
        right: 8px;
    }
    /* ========== GALLERY =========== */
    .gallery-filter {
        grid-template-columns: repeat(1, 1fr);
    }
    /* ========== CONTACTS =========== */
    .js-email-form--visible {
        width: 400px;
    }
    .email-form__fieldset {
        width: 340px;
    }
    .email-form__close-icon {
        left: 155px;
    }
    .email-form__name, 
    .email-form__email {
        width: 320px;
    }
    .email-form__textarea {
        width: 320px;
    }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
    /* slick-header */
    .slick-header__tel-search {
        width: 95%;
    }
    /* video-title */
    .video__youtube-title {
        font-size: .7rem;
    }
    .video-text p {
        font-size: 12px;
    }
    /* scope-of-aplication */
    .left-scope-content__title p,
    .right-scope-content__title p {
        font-size: 12px;
    }
    .scope-of-application-content {
        width: 50%;
    }
    /* rhombus-images */
    .rhombus-images-block {
        justify-content: flex-start;
    }
    .rhombus-images {
        width: 125px;
    }
    /* table */
    .table-style tr:first-child td {
        font-size: 8px;
    }
    .table-style td {
        font-size: 7px;
    }
    /* tasks */
    .tasks-logo {
        font-size: 16px;
    }
    /* certificates */
    .certificates-title {
        height: 60px;
    }
    .certificates-award p {
        font-size: 13px;
    }
    /* contacts */
    .contacts__title {
        font-size: 22px;
        padding: 10px 0;
        margin: 0;
    }
    .contacts p {
        padding: 0 10px 10px;
        font-size: 14px;
    }
    .contacts__tel {
        font-size: 14px;
    }
    /* ========== PRODUCTS =========== */
    .products__items-delivery-info p {
        font-size: 16px;
    }
    /* ========== GALLERY =========== */
    .gallery__controls-btn {
        font-size: 10px;
    }
    /* ========== CONTACTS =========== */
    .js-email-form--visible {
        width: 310px;
    }
    .email-form__fieldset {
        width: 265px;
    }
    .email-form__close-icon {
        left: 115px;
    }
    .email-form__name, 
    .email-form__email {
        width: 220px;
    }
    .email-form__textarea {
        width: 220px;
    }
}
}