@media screen and (max-width: 1600px) {
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1280px) {
    .slick {/* Slick */
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1080px) {
    .header-nav {/* header nav-bar */
        width: 80%;
        font-size: 14px;
    }
    .slick-header {/* slick-header */
        justify-content: space-evenly;
    }
    .slick {/* Slick */
        width: 85%;
    }
}

@media screen and (max-width: 992px) {
    .slick-header__logo {/* slick-header */
        width: 95%;
        padding: 10px;
    }
    .video__youtube-title {/* video-title */
        font-size: 1.7rem;
        letter-spacing: 0;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .header-nav {/* header nav-bar */
        font-size: 13px;
        width: 85%;
    }
    .slick-header {/* slick-header */
        padding-left: 20px;
    }
    .slick-header__logo {
        width: 95%;
        padding: 10px;
    }
    .slick-header__contacts-wrapper {
        justify-content: center;
    }
    .slick-header__tel-search-link {
        font-size: .9em;
    }
    .slick-header__search-field {
        width: 85%;
        margin:0;
    }
    .slick {/* Slick */
        width: 80%;
    }
    .slick-content__text-title {
        font-size: 1.3rem;
    }
    .slick-content__text-subtitle {
        font-size: 1rem;
    }
    .video__logo {/* video-title */
        height: 60px;
    }
    .video__youtube-title {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 600px) {
    .header-nav {/* header nav-bar */
        font-size: 12px;
        width: 95%;
    }
    .slick-header {/* slick-header */
        padding-left: 10px;
    }
    .slick-header__contacts-text {
        font-size: 12px;
    }
    .slick-header__tel-search {
        text-align: center;
    }
    .slick-header__search-field {
        width: 65%;
    }
    .video__youtube-title {/* video-title */
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 500px) {
    .slick-block {
        height: auto;
        background: none;
    }
    .header {/* header nav-bar */
        height: fit-content;
    }
    .header-nav__menu {
        flex-direction: column;
        align-items: center;
        font-size: 16px;
    }
    .header-nav__menu-item {
        margin: 10px 0;
    }
    .slick-header {/* slick-header */
        flex-direction: column;
    }
    .slick-header__logo {
        width: 85%;
        padding-left: 30px;
    }
    .slick-header__contacts {
        align-self: auto;
    }
    .slick-header__tel-search-link {
        font-size: 1em;
    }
    .slick-header__search-field {
        width: 60%;
    }
    .slick {/* Slick */
        display: none;
    }
    .slick-content__shadow-position {
        display: none;
    }
    .video__youtube {/* youtube video */
        height: 325px;
    }
    .video__logo {/* video-logo */
        display: none;
    }
    .video__youtube-title {/* video-title */
        font-size: 1rem;
    }
    .video__youtube-iframe iframe {
        height: 230px;
    }
}
@media screen and (max-width: 440px) {
    .slick-header__logo {/* slick-header */
        width: 85%;
        padding-left: 15px;
    }
    .slick-header__tel-search-link {
        font-size: .75em;
    }
    .video__youtube-title {/* video-title */
        font-size: .85rem;
    }
    .video-text__button-btn {
        width: 100%;
    }
}
@media screen and (max-width: 320px) {
    .slick-header__tel-search {/* slick-header */
        width: 95%;
    }
    .video__youtube-title {/* video-title */
        font-size: .7rem;
    }
}