:root {
    --mainGreen: #01983b;
    --extraFont: EuropeExt, Arial, sans-serif;
    
}

@font-face {
    font-family: "EuropeExt";
    src: url("../fonts/EuropeExt.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "EuropeExt";
    src: url("../fonts/EuropeExtBold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

/* header */
.header-wrapper {
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
}
/* popup */
.slick-container {
    width: 100%;
    min-height: 450px;
    background-image: url(../image/products/products-background.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick {
    width: 1000px;
    height: 160px;
    background-color: #ffffffc6;
    border-radius: 20px;
    box-shadow: 0 0 10px #000;
}

.slick__item {
    max-width: 150px;
    height: 120px;
    padding: 20px;
}

.slick__item-img {
    width: 110px;
    height: auto;
    border-radius: 15px;
    border: 1px solid transparent;
}

.slick__item p {
    margin: 0;
    width: 110px;
    font-size: .8rem;
    color: #043667ac;
    font-family: var(--extraFont);
    text-align: center; 
}

.slick__item:hover img {
    border: 1px solid var(--mainGreen);
}
/* products grid */
.products-container {
    width: 100%;
    min-height: 1300px;
    background-image: url(../image/products/products-background-main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.products {
    display: grid;
    grid-template-columns: repeat(3,500px);
    gap: 10px;
    justify-content: center;
}

.products__items {
    margin: 0 auto;
    width: 500px;
    min-height: 600px;
    box-shadow: 0 0 10px 4px #585858;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.products__items-img {
    max-width: 350px;
    height: 200px;
    padding: 20px 10px 0;
    align-self: center;
    transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

.products__items-img:hover {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.products__items-title {
    font-size: 24px;
    font-family: var(--extraFont);
    color: #2c2783;
    padding: 0 10px;
    background-color: #f2f5f7;
    text-align: center;
}

.products__items p {
    padding: 0 20px;
    line-height: 20px;
}

.products__items-delivery {
    background-color: #f2f5f7;
    font-size: 1.5rem;
    color: #2c2783;
    text-transform: uppercase;
    text-align: center;
    margin-top: auto;
    background-image: url(../image/products/loader-icon.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    position: relative;
    cursor: help;
}
/* hidden info */
.products__items-delivery-info {
    position: absolute;
    top: 60px;
    background-color: #ffebcd;
    display: none;
    pointer-events: none;
    box-shadow: 0 0 10px 1px #000;
    animation: goUp .6s ease-out;
    animation-fill-mode: forwards;
    -moz-animation: goUp .6s ease-out;
    -moz-animation-fill-mode: forwards;
    -webkit-animation: goUp .6s ease-out;
    -webkit-animation-fill-mode: forwards;
}

.products__items-delivery:hover .products__items-delivery-info {
    display: block;
}

@keyframes goUp {
    0% {
        top: 60px;
    }
    100% {
        top: -50px;
    }
}

.products__items-delivery-info p {
    line-height: 24px;
    font-family: var(--extraFont);
    font-style: italic;
}