:root {
    --mainGreen: #01983b;
    --extraFont: EuropeExt, Arial, sans-serif;
    
}

@font-face {
    font-family: "EuropeExt";
    src: url("../fonts/EuropeExt.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "EuropeExt";
    src: url("../fonts/EuropeExtBold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}
/* navigation */
.header {
    height: 78px;
    background-color: var(--mainGreen);
}

.header-nav {
    margin: 0 auto;
    width: 52%;
    height: auto;
}

.header-nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.header-nav-menu__item {
    margin: 32px 0;
    text-transform: uppercase;
}

.header-nav-menu__link {
    text-decoration: none;
    color: #fff;
}

.active {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 5px 0;
}

.header-nav-menu__link:hover {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 5px 0;
}
/* slick-block */
.section-slick {
    height: 720px;
    background: url("../image/art-museum-background.jpg") center no-repeat;
}

.section-slick-content {
    width: 52%;
    max-height: 680px;
    margin: 0 auto;
}
/* slick-header */
.section-slick-header {
    min-height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 100%;
    height: auto;
    transition: all 0.3s ease-in;
}

.header-logo:hover {
    transform: scale(1.015);
}
/* contacts-header */
.header-contacts {
    width: 415px;
    height: 110px;
    margin:  0 0 10px 10px;
    align-self: flex-end;
}
/* social-networks */
.social-contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social-networks-text {
    color: var(--mainGreen);
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-right: 4px;
}

.social-networks-link {
    margin: 4px;
}

.social-networks-img {
    transition: all .2s ease-in;
    border-radius: 50%;
}

.social-networks-img:hover {
    transform: scale(1.2);
    filter: hue-rotate(-45deg) opacity(80%);
}
/* tel-search */
.tel-search {
    width: 100%;
    height: auto;
}

.tel-search a {
    text-decoration: none;
    font-weight: bold;
}

.tel-search a:hover {
    text-decoration: underline;
}

.tel-search a:active {
    color: #012284;
}

.search-field {
    width: 90%;
    outline: none;
    border: none;
    border-bottom: 1px solid #bfbdd9;
    margin: 10px 0 0;
}

.search-field:active {
    box-shadow: 0 0 10px #bfbdd9;
}

.search-button {
    border: none;
    background-color: #fff;
    transition: all .5s ease;
}

.search-button:hover {
    transform: scale(1.5);
}
/* slick */
.slick {
    max-height: 495px;
}

.slick-content__item {
    max-width: 980px;
    max-height: 495px;
    position: relative;
}

.slick-content__text {
    max-width: 770px;
    max-height: 140px;
    position: absolute;
    bottom: 50px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.slick-content__text-title {
    font-size: 1.8rem;
    color: #fff;
    text-transform: uppercase;
    padding: 0 10px 0 20px;
    line-height: 1;
}

.slick-content__text-subtitle {
    font-size: 1.2rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 10px 0 20px;
}
/* slick-shadow */
.slick-shadow {
    width: auto;
    position: relative;
}

.slick-shadow-position {    
    position: absolute;
    left: -15%;
    width: 120%;
}
/* Video section */
.block-video {
    min-height: 797px;
    background: url("../image/video-block-background.jpg") top no-repeat;
}

.section-video {
    max-width: 980px;
    height: fit-content; 
    margin: 0 auto;
}   
/* video-logo */
.section-video__logo {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.section-video__logo img {
    width: 40%;
    height: auto;
}
/* video-youtube */
.section-video__youtube {
    width: 100%;
    height: 435px;
}

.section-video__youtube-title {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--extraFont);
    color: #073d79;
    font-size: 2.05rem;
    font-weight: bold;
    letter-spacing: -2px;
    text-transform: uppercase;
}

.section-video__youtube-iframe {
    display: flex;
    justify-content: center;
}

.section-video__youtube-iframe iframe{
    width: 574px;
    height: 319px;
    display: block;
    border: 0;
}
/* video-youtube-shadow */
.section-video__shadow {
    width: auto;
    position: relative;
}

.section-video__shadow-position {
    position: absolute;
    top: 0;
    left: 8%;
    width: 85%;
}
/* video-text */    
.video-text {
    height: fit-content;
    max-width: 980px;
    margin: 0 auto;    
}

.video-text p {
    text-align: center;
    padding: 0 50px;
    font-size: 14px;
    margin: 15px 0;
    line-height: 1.3;
}
/* button */
.video-text-button {
    min-height: 120px;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-text-button__button {
    width: 405px;
    height: 55px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    background-color: var(--mainGreen);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--extraFont);
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .2s ease-in;
}

.video-text-button__button:hover {
    background-color: #007a2f;
    box-shadow: 5px 5px 10px #000;
}

.video-text-button__button:active {
    box-shadow: 2px 2px 5px #000;
    color: #073d79;
}
/* scope-of-application */
.block-scope-of-application {
    min-height: 825px;
    background: url("../image/scope-of-application-background.jpg") top no-repeat;
}

.scope-of-application {
    width: 64%;
    margin: 0 auto;
}
/* scope-title */
.scope-of-application-title {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #073d79;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--extraFont);
}
/* scope-blocks */
.scope-of-application-content {
    width: 100%;
    min-height: 310px;
    display: flex;
    gap: 0 5px;
}
/* left-block */
.left-scope-content {
    width: 49%;
    height: auto;
    background: url("../image/under-construction-1-background.jpg");
    background-size: cover;
}

.left-scope-content__transperent {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/* left-block-title */
.left-scope-content-title {
    min-height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.left-scope-content-title p {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    margin-right: 50px;
}

.left-scope-content-ul {
    color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    text-transform: uppercase;
    font-size: 14px;
}

.left-scope-content-ul li {
    margin: 2px 0;
    max-width: 420px;
    padding: 2px 50px 2px 30px;
    background-color: var(--mainGreen);
    position: relative;
}

.left-scope-content-ul li::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 96px;
    height: 100%;
    background-image: linear-gradient(to right, #01983b54 50%, #01983bb8 50%);
    position: absolute;
    top: 0;
    left: -96px;
}
/* left-scope-footer-logo */
.left-scope-content-footer-logo {
    width: 100%;
    margin-top: auto;
    background-color: #ffffff36;
    display: flex;
    justify-content: end;
}

.left-scope-content-footer-logo__size {
    width: 195px;
    height: 17px;
    margin: 4px 50px 4px 0;
}
/* right-block */
.right-scope-content {
    width: 49%;
    background: url("../image/under-construction-2-background.jpg");
    background-size: cover;
}

.right-scope-content__transperent {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/* right-block-title */
.right-scope-content-title {
    min-height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-scope-content-title p {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 50px;
}

.right-scope-content-ul {
    margin: 0;
    padding: 0;
    color: #fff;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-transform: uppercase;
    font-size: 14px;
}

.right-scope-content-ul li {
    margin: 2px 0;
    max-width: 420px;
    display: inline-block;
    vertical-align: middle;
    padding: 2px 30px 2px 50px;
    background-color: var(--mainGreen);
    position: relative;
}

.right-scope-content-ul li::after {
    content: "";
    width: 96px;
    height: 100%;
    background-image: linear-gradient(to left, #01983b54 50%, #01983bb8 50%);
    position: absolute;
    top: 0;
    right: -96px;
}
/* right-scope-footer-logo */
.right-scope-content-footer-logo {
    width: 100%;
    margin-top: auto;
    background-color: #ffffff36;
    display: flex;
    justify-content: start;
}

.right-scope-content-footer-logo__size {
    width: 195px;
    height: 17px;
    margin: 4px 0 4px 50px;
}
/* rhombus-images */
.rhombus-images-block {
    width: 100%;
    height: 418px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rhombus-images {
    width: 190px;
    min-height: 240px;
}

.rhombus-images-items {
    max-width: 190px;
    height: 190px;
    background-image: url("../image/rounded-rectangle-background.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rhombus-images__size {
    width: auto;
    height: auto;
}

.rhombus-images:nth-child(odd) {
    align-self: flex-start;
    margin-top: 40px;
}

/* rhombus-images-text */
.rhombus-images p {
    color: var(--mainGreen);
    text-align: center;
    padding: 0 24px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
/* table-section */
.table-section {
    width: 100%;
    min-height: 760px;
    background: url("../image/teble-section-background.jpg") bottom no-repeat;
}    

.table-block {
    max-width: 1225px;
    min-height: 760px;
    margin: 0 auto;
    background-color: #ffffff85;
    border: 2px solid #e6ecf4;
}
/* logo-title */
.table-block-logo-title {
    width: 100%;
    height: 150px;
    text-align: center;
}

.table-block__logo {
    width: 374px;
    height: 29px;
    margin: 50px 0 5px;
}

.table-block-logo-title p {
    margin: 0;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: var(--mainGreen);
    font-family: var(--extraFont);
}
/* table */
.table-block__table {
    max-width: 980px;
    min-height: 550px;
    margin: 0 auto;
}

.table-block__table-style {
    border-collapse: collapse;
    border: 4px solid #d5dfec;
    background-color: #fff;
    width: 100%;
    height: fit-content;
    margin-bottom: 50px;
}
/* first-row */
.table-block__table-style tr:first-child td {
    background-color: var(--mainGreen);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

/* all-td */
.table-block__table-style td {
    border: 1px solid #d5dfec;
    padding: 10px 0;
    border-collapse: collapse;
    font-size: 14px;
    color: #043567;
    text-align: center;
}
/* first-column */
.table-block__table-style td:nth-child(1) {
    width: 360px;
    padding: 10px 15px;
    text-align: start;
}

.table-block__table-style tr td:nth-child(1) {
    text-align: start;
}

/* rows-color */
.table-block__table-style tr:nth-child(even) td {
    background-color: #f2f5f7;
}

.table-block__table-style tr:first-child {
    border: 2px solid #d5dfec;
}
/* table-shadow */
.table-shadow {
    position: relative;
}

.table-shadow__position {
    position: absolute;
    top: -50px;
    left: -130px;
    width: 125%;
}
/* tasks-section */
.tasks-block {
    min-height: 500px;
    background: url("../image/tasks-background.jpg") center no-repeat;
}
/* task-logo */
.tasks-block-logo {
    max-width: 980px;
    height: 100px;
    margin: 0 auto;
    color: var(--mainGreen);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    font-family: var(--extraFont);
    text-transform: uppercase;
}
/* task-container-grid */
.tasks-block__container {
    max-width: 1225px;
    height: fit-content; 
    margin: 0 auto;
    display: grid;
    grid-template-columns: 10% auto auto 10%;
    row-gap: 5px;
    font-size: 14px;
    color: #fff;
}
/* task-text */
.tasks-block__container-text-left {
    background-color: #ff0000;
    margin-right: 10px;
    display: flex;
    align-items: flex-start;
}

.tasks-block__container-text-right {
    background-color: var(--mainGreen);
    display: flex;
    align-items: flex-start;
}

.tasks-block__container p {
    padding: 0 20px 0 0;
    margin: 10px 0;
}
/* task-text-decor */
.tasks-block__container-decor-left {
    background-image: linear-gradient(to right, #ff000036 50%, #ff000086 50%);
}

.tasks-block__container-decor-right {
    background-image: linear-gradient(to left, #01983b46 50%, #01983b80 50%);
}
/* tasks-container-image */
.tasks-block__container-image-sad-smile {
    width: 30px;
    height: 30px;
    margin: 5px 20px;
}

.tasks-block__container-image-smile {
    width: 30px;
    height: 30px;
    margin: 5px 20px;
}
/* certificates-section */
.certificates-block {
    width: 100%;
    min-height: 540px;
}
/* certificates-logo-title */
.certificates-logo-title {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    text-align: center;
}

.certificates-logo-image {
    width: 375px;
    height: 30px;
    margin: 10px 0 5px;
}

.certificates-logo-title p {
    margin: 0;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: #2c2783;
    font-family: var(--extraFont);
}
/* js-certificates-content */ 
/* magnific-popup */
.js-certificates-content {
    height: 205px;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
/* award-block */
.certificates-block-award {
    width: 100%;
    min-height: 235px;
    margin: 0 auto;;
    text-align: center;
}

.certificates-block-award p {
    margin: 0;
    color: #2c2783;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 30px 0 10px;
}

.certificates-block-award img {
    width: auto;
    height: auto;
    transition: all .2s ease;
}

.certificates-block-award img:hover {
    filter: brightness(1.3);
}

/* contacts-footer */
.contacts-block {
    width: 100%;
    min-height: 500px;
    position: relative;
    display: flex;
    align-items: flex-end;
}
/* contacts */
.contacts-block__info {
    width: 65%;
    height: 200px;
    background-color: var(--mainGreen);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    top: -10px;
    left: 18%;
    color: #fff;
    text-align: center;
}
/* contacts-text */
.contacts-block__info h3 {
    font-size: 30px;
    padding: 5px 0;
    margin: 10px 0;
    text-transform: uppercase;
    font-family: var(--extraFont);
}

.contacts-block__info p {
    padding-bottom: 25px;
    max-width: 630px;
    margin: 0 auto;
}
/* contacts-tel */
.contacts-block-tel {
    text-decoration: none;
    color: #fff;
    transition: all .2s ease;
}

.contacts-block-tel:hover {
    text-decoration: underline;
    color: #0000ff;
}

.contacts-block-tel:last-child:hover {
    text-decoration: underline;
    color: #0000ff;
    position: relative;
    top: 2px;
    font-size: 1.1rem;
}

.contacts-block-tel:active {
    color: #000;
}
/* iframe */
.contacts-block iframe {
    width: 100%;
    height: 340px;
    display: block;
    border: 0;
}/* footer */
.footer {
    width: 100%;
    min-height: 310px;
    background: url("../image/footer-background.jpg") center no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
/* footer-logo */
.footer-logo {
    width: auto;
    height: auto;
    margin: 23px 10px 10px;
}

.footer-logo img {
    width: 100%;
    height: auto;
    transition: all .5s ease;
}

.footer-logo img:hover {
    filter: contrast(0.7);
}

/* footer-social-networks */
.footer-social-networks {
    width: 100%;
    height: auto;
    text-align: center;
}

.footer-social-networks p {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

.footer-social-networks-img {
    width: auto;
    height: auto;
}

.footer-social-networks-img:hover {
    opacity: 60%;
}
/* invisible button for scroll up */
.js-scrollUp-button {
    width: 70px;
    height: 70px;
    margin: 20px 5px 0;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    color: var(--mainGreen);
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 1px 4px 20px 3px #000;
    transition: all .3s ease;
    position: fixed;
    bottom: 100px;
    right: 20px;
    opacity: 0;
    pointer-events: none;
}

.js-scrollUp-button:hover {
    cursor: pointer;
    background-color: var(--mainGreen);
    color: #fff;
    font-size: 90%;
    transform: scale(1.05);
    box-shadow: 1px 4px 30px 4px #000;
    opacity: 1;
}

.js-scrollUp-button:active {
    background-color: #00772d;
}

.js-scrollUp-button--shown {
    opacity: .6;
    pointer-events: auto;
}
/* footer-wezom-link */
.footer-wezom {
    width: auto;
    height: auto;
    margin-top: auto;
}

.footer-wezom-link {
    color: #fff;
    text-decoration: none;
    transition: all .3s ease-in;
}

.footer-wezom-link:hover {
    color: #0000ff;
    font-size: 1.1rem;
}